.container {
    width: 1170px;
    margin: 0 auto;
}

.nav-menu {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 50px;
  padding: 0;
}

.nav-menu__item {
  display: flex;
  margin: 0px 15px;
}

.nav-menu__item a {
  text-decoration: none;
  color: #555555;
}

.nav-menu__item .active {
  text-decoration: none;
  color: #5363db;
}

.nav-menu__item_center {
  display: block;
}

.logo {
  padding: 0 150px;
  margin: 0;
  text-align: center;
}

.logo__link {
  display: inline-block;
}

.logo__image {
  display: block;
}